In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS interns (
    intern_id INTEGER PRIMARY KEY,
    intern_name TEXT,
    track TEXT
)
""")

In [4]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
)
""")

In [5]:
cursor.executemany("""
INSERT INTO interns (intern_id, intern_name, track)
VALUES (?, ?, ?)
""", [
    (1, "Rahul", "AI"),
    (2, "Rakshith", "Web"),
    (3, "Arjun", "AI"),
    (4, "shamanth", "Data")
])

In [6]:
cursor.executemany("""
INSERT INTO mentors (mentor_id, mentor_name, track)
VALUES (?, ?, ?)
""", [
    (101, "Dr. Kumar", "AI"),
    (102, "Mr. Rakesh", "Web"),
    (103, "Ms. anusha", "Data")
])

In [7]:
conn.commit()

In [8]:
query = """
SELECT i.intern_name, i.track, m.mentor_name
FROM interns i
INNER JOIN mentors m
ON i.track = m.track
"""

In [9]:
df = pd.read_sql_query(query, conn)
df

  intern_name track mentor_name
0       Rahul    AI   Dr. Kumar
1    Rakshith   Web  Mr. Rakesh
2       Arjun    AI   Dr. Kumar
3    shamanth  Data  Ms. anusha